<div class="columns is-vcentered">
  <div class="column is-two-thirds">
    {{> TitleBar title="myWildAtlanticWay" subTitle="Store your trips!"}}
  </div>
  <div class="column">
    {{> MainNavigator }}
  </div>
</div>

<section class="hero">
  <div class="hero-body has-text-centered">
    <p class="title ">
      myWildAtlanticWay : Store your trips on the Wild Atlantic Way and plan new adventures </p>
    <div class="box">
      <img src="../../images/Wildatlanticway.jpg" alt = "wild" width= "500" />
    </div>
  </div>
</section>