<div class="columns is-vcentered">
  <div class="column is-two-thirds">
    {{> TitleBar title="myWildAtlanticWay" subTitle="Share your trips with the community!"}}
  </div>
  <div class="column">
    {{> MainNavigator }}
  </div>
</div>

<section class="hero">
  <div class="hero-body has-text-centered">
    <p class="title ">
      Share your adventures with members of the myWilAtlanticWay Community </p>
    <div class="box">
      <a class="button" href="https://www.facebook.com/login/"> <img src="../../images/facebook.jpg" alt = "facebook" width = "50"></a>
    <a class="button" href="https://www.instagram.com/accounts/login/"> 
        <img src="../../images/insta.jpg" alt = "instagram" width="50"></a>
    </div>
  </div>
</section>