<div class="columns is-vcentered">
  <div class="column is-two-thirds">
    {{> TitleBar title="myWildAtlanticWay" subTitle="Please Log In"}}
  </div>
  <div class="column">
    {{> WelcomeNavigator }}
  </div>
</div>

<div class="columns">
  <div class="column has-text-centered">
      <img alt="skellig" src="../../images/skellig.jpg" width="500" />
  </div>
  <div class="column">
      <div class="box">
          <h1 class="title">Login</h1>
      {{> LoginForm }}
    </div>
  </div>
</div>