<div class="columns is-vcentered">
  <div class="column is-two-thirds">
    {{> TitleBar title="myWildAtlanticWay" subTitle="Your saved trips"}}
  </div>
  <div class="column">
    {{> MainNavigator }}
  </div>
</div>

<div class="columns is-vcentered">
    <div class="column box has-text-centered">
      <img width="300" src="../../images/garnish.jpg">
      </div>
      <div class="column box has-text-centered"></div>
        <h1 class="title is-4">Save your trips</h1>
         {{> VisitForm }}
    </div>
</div>